<section>
  <div class="header">
    <div class="image"></div>
    <h1 class="name-teacher">
      {{ teacher.name }}
      <span class="surname-teacher">{{ teacher.surname }}</span>
    </h1>
    <button class="button-exit-app">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>

  <div class="contente">
    <h2 class="title-page">{{ titlePage }}</h2>
    <div class="buttons">
      <button class="button-empty">
        <mat-icon>add_circle_outline</mat-icon>
        cadastrar material
      </button>
      <button class="button-empty">
        <mat-icon>add_circle_outline</mat-icon>
        cadastrar aluno
      </button>
    </div>
  </div>
</section>
