<section>
  <header class="header">
    <div class="image"></div>
    <h1 class="name-teacher">
      {{ teacher.name }}
      <span class="surname-teacher">{{ teacher.surname }}</span>
    </h1>
    <button class="button-exit-app">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </header>

  <div class="contente">
    <div class="listStudents" *ngIf="listStudents.length">
      <h2 class="title-page">Alunos</h2>
      <ul class="cards">
        <li *ngFor="let student of listStudents" class="card">
          <div
            class="image"
            [ngStyle]="{
              'background-image': 'url(' + student.photoStudent + ')'
            }"
          ></div>
          <div class="description">
            <p class="title">
              {{ student.nameStudent.name }} {{ student.nameStudent.surname }}
            </p>
            <span class="subtitle">{{ student.studySeries }}</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="listMaterials" *ngIf="listMaterials.length">
      <h2 class="title-page">Materiais</h2>
    </div>

    <div
      class="emptyLists"
      *ngIf="!listStudents.length || !listMaterials.length"
    >
      <h2 class="title-page">{{ titlePage }}</h2>
      <div class="buttons">
        <button class="button-empty">
          <mat-icon>add_circle_outline</mat-icon>
          cadastrar material
        </button>
        <button class="button-empty">
          <mat-icon>add_circle_outline</mat-icon>
          cadastrar aluno
        </button>
      </div>
    </div>
  </div>
</section>
