<section>
  <header class="header">
    <div class="image"></div>
    <h1 class="name-teacher">
      {{ teacher.name }}
      <span class="surname-teacher">{{ teacher.surname }}</span>
    </h1>
    <button class="button-exit-app">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </header>

  <div class="contente">
    <div class="listStudents" *ngIf="listStudents.length">
      <h2 class="title-page">Alunos</h2>
      <ul class="cards">
        <li
          *ngFor="let student of listStudents"
          class="card"
          [id]="student.id"
          (click)="viewDetailsStudent($event)"
        >
          <div
            class="image"
            [ngStyle]="{
              'background-image': 'url(' + student.photoStudent + ')'
            }"
          ></div>
          <div class="description">
            <p class="title">
              {{ student.nameStudent.name }} {{ student.nameStudent.surname }}
            </p>
            <span class="subtitle">{{ student.studySeries }}</span>
          </div>
          <mat-icon class="icon-arrow">arrow_forward_ios</mat-icon>
        </li>
        <button class="button">
          <mat-icon>{{ icon_add }}</mat-icon>
          {{ registre_student }}
        </button>
      </ul>
    </div>

    <div class="listMaterials" *ngIf="listMaterials.length">
      <h2 class="title-page">Materiais</h2>

      <div class="container-materials">
        <div
          class="card"
          *ngFor="let material of listMaterials"
          [id]="material.id"
        >
          <div
            class="image"
            [ngStyle]="{
              'background-image': 'url(' + material.urlImage + ')'
            }"
          ></div>
          <div class="description-card">
            <p class="title">{{ material.matter }}</p>
            <span class="subtitle">{{ material.seriesBelonging }}</span>
          </div>
        </div>
      </div>

      <button class="button">
        <mat-icon>{{ icon_add }}</mat-icon>
        {{ registre_material }}
      </button>
    </div>

    <div
      class="emptyLists"
      *ngIf="!listStudents.length || !listMaterials.length"
    >
      <h2 class="title-page">{{ titlePage }}</h2>
      <div class="buttons">
        <button class="button button-empty" *ngIf="!listMaterials.length">
          <mat-icon>{{ icon_add }}</mat-icon>
          {{ registre_material }}
        </button>
        <button class="button button-empty" *ngIf="!listStudents.length">
          <mat-icon>{{ icon_add }}</mat-icon>
          {{ registre_student }}
        </button>
      </div>
    </div>
  </div>
</section>
