@import "../../../colors.scss";

.header {
  display: flex;
  gap: 1.2rem;
  background-color: $main;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 2.4rem;

  .image {
    background: #f0f0f0;
    width: 8.5rem;
    height: 8.5rem;

    border-radius: 50%;
  }

  .name-teacher {
    color: $white;

    display: inline-flex;
    flex-direction: column;

    margin-top: 2.5rem;
  }

  .button-exit-app {
    background-color: transparent;
    color: $white;
    font-size: 3rem;
    border: none;

    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
  }
}

.contente {
  margin-top: 12rem;
  padding-bottom: 12rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .listStudents {
    .cards {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      margin-top: 0.8rem;

      .card {
        background: $white;
        border: 0.1rem solid $blue-light;
        border-radius: 0.8rem;

        padding: 1.6rem;

        display: flex;
        gap: 1.6rem;

        .image {
          height: 4.2rem;
          width: 4.2rem;
          border-radius: 50%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .description {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 0.4rem;

          height: 4.2rem;

          .title {
            font-weight: 600;
            font-size: 1.6rem;

            color: $main;
          }

          .subtitle {
            color: $text;
            font-size: 1.2rem;
          }
        }
      }

      .button {
        margin-top: 0.8rem;
      }
    }
  }

  .listMaterials {
    height: 24rem;
    z-index: 2;

    .button {
      margin-top: 17.5rem;
    }

    .container-materials {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      padding-inline: 2rem;

      position: absolute;
      left: 0;
      right: 0;

      .card {
        min-width: 8rem;
        margin: 0.8rem 0.4rem 0;

        .image {
          height: 11rem;
          border-radius: 0.8rem;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .description-card {
          padding-top: 0.4rem;
          color: $main;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .title {
            font-weight: 600;
            font-size: 1.2rem;
            text-align: center;
          }

          .subtitle {
            font-weight: 400;
            font-size: 1rem;
          }
        }
      }
    }
  }

  .emptyLists {
    .title-page {
      text-align: center;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      gap: 2.4rem;
      max-width: 30rem;
      margin-inline: auto;

      .button-empty {
        color: $green;
        border-color: $green;

        padding: 2.4rem;
      }
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background: $white;

    border: 0.1rem dashed $main;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    color: $main;

    width: 100%;
    padding: 1.2rem;
  }
}
