<section *ngIf="student" class="container-student">
  <header class="header">
    <div
      class="image"
      [ngStyle]="{
        'background-image': 'url(' + student.photoStudent + ')'
      }"
    ></div>
    <h1 class="title">
      {{ student.nameStudent.name }} {{ student.nameStudent.surname }}
    </h1>

    <button class="back" (click)="goToAreaTeacher()">
      <mat-icon class="icon">arrow_back</mat-icon>
    </button>
  </header>

  <div class="contente">
    <h2 class="title-page">Matérias vinculadas</h2>

    <div
      class="linkedSchoolSubjectsEmpty"
      *ngIf="!student.linkedSchoolSubjects.length"
    >
      <p class="text">Aluno sem nenhuma matéria vinculada no momento</p>
      <button class="button button-empty">
        <mat-icon>add_circle_outline</mat-icon>
        vincular matéria
      </button>
    </div>

    <div class="buttons" *ngIf="student.linkedSchoolSubjects.length">
      <button class="button">
        <mat-icon>add_circle_outline</mat-icon>
        vincular matéria
      </button>
      <button class="button">
        <mat-icon>add_circle_outline</mat-icon>
        adicionar anotação no diário
      </button>
    </div>
  </div>
</section>
