<section>
  <h1 class="title-page">Diário de anotações</h1>
  <p class="description-page">
    Anote aqui as atividades de cada aluno e mantenha tudo organizado em um só
    lugar
  </p>

  <h2 class="title-home">Escolha um aluno</h2>
  <div class="container-students">
    <div class="card">
      <div class="image"></div>
      <div class="description-card">
        <p class="title">Aluno</p>
        <span class="subtitle">3º ano</span>
      </div>
    </div>
    <div class="card">
      <div class="image"></div>
      <div class="description-card">
        <p class="title">Aluno</p>
        <span class="subtitle">3º ano</span>
      </div>
    </div>
    <div class="card">
      <div class="image"></div>
      <div class="description-card">
        <p class="title">Aluno</p>
        <span class="subtitle">3º ano</span>
      </div>
    </div>
  </div>
</section>
