<section>
  <h1 class="title-page">Diário de anotações</h1>
  <p class="description-page">
    Anote aqui as atividades de cada aluno e mantenha tudo organizado em um só
    lugar
  </p>

  <div *ngIf="!loading">
    <h2 class="title-home">Escolha um aluno</h2>
    <div class="container-students">
      <div class="card" *ngFor="let student of listStudents">
        <div
          [id]="student.id"
          class="image"
          [ngStyle]="{
            'background-image': 'url(' + student.photoStudent + ')'
          }"
          (click)="viewNotesStudent($event)"
        ></div>
        <div class="description-card">
          <p class="title">{{ student.nameStudent.name }}</p>
          <span class="subtitle">{{ student.studySeries }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<app-loading *ngIf="loading"></app-loading>
