<section *ngIf="!loading && student" class="container-annotations">
  <header class="header">
    <div
      class="image"
      [ngStyle]="{
        'background-image': 'url(' + student.photoStudent + ')'
      }"
    ></div>
    <h1 class="title">
      {{ student.nameStudent.name }} {{ student.nameStudent.surname }}
    </h1>

    <button class="back" (click)="goToHomeDiary()">
      <mat-icon class="icon">arrow_back</mat-icon>
    </button>
  </header>

  <div class="contente">
    <h2 class="title-page">Anotações das atividades</h2>

    <div class="cards">
      <div
        class="card"
        *ngFor="let annotation of listAnnotationsStudent"
        [id]="annotation.id"
        (click)="viewDetailsAnnotation($event)"
      >
        <p class="title-annotation">{{ annotation.activitySubject }}</p>
        <span class="date-annotation">
          <mat-icon class="icon-date">event</mat-icon>
          {{ annotation.activityDate | date : "dd/MM/yy" }}
        </span>
        <mat-icon class="icon-arrow">arrow_forward_ios</mat-icon>
      </div>
    </div>
    <button class="add-annotation">adicionar nova anotação</button>
  </div>
</section>
<app-loading *ngIf="loading"></app-loading>
